.picker-wrapper {
	position: absolute;
	top: -270%;
	z-index: 99;
}
.picker-wrapper .react-colorful {
	padding: 10px;
	border-radius: 12px;
	background: #f7f7f7;
	box-shadow: 0px 0px 7px rgb(217 217 217);
	border: 1px solid #cfcfcf;
}

.picker-wrapper .react-colorful__hue {
	margin-top: 15px;
	border-radius: 5px;
	height: 15px;
}

.picker-wrapper .react-colorful__saturation {
	border-radius: 5px;
	cursor: crosshair;
	border-bottom: none;
}

.picker-wrapper .react-colorful__pointer.react-colorful__saturation-pointer {
	height: 15px;
	width: 15px;
	border: solid 1px white;
}

.picker-wrapper .react-colorful__pointer.react-colorful__hue-pointer {
	width: 13px;
	height: 18px;
	border-radius: 3px;
}
